
thirskOS_flutter/.idea/vcs.xml
thirskOS_flutter/.idea/workspace.xml
thirskOS_flutter/android/.gradle/4.10.2/fileHashes/fileHashes.bin
thirskOS_flutter/android/.gradle/4.10.2/fileHashes/fileHashes.lock
thirskOS_flutter/android/.gradle/4.10.2/fileHashes/resourceHashesCache.bin
thirskOS_flutter/android/.gradle/4.10.2/javaCompile/jarAnalysis.bin
thirskOS_flutter/android/.gradle/4.10.2/javaCompile/javaCompile.lock
thirskOS_flutter/android/.gradle/4.10.2/javaCompile/taskHistory.bin
thirskOS_flutter/android/.gradle/4.10.2/taskHistory/taskHistory.bin
thirskOS_flutter/android/.gradle/4.10.2/taskHistory/taskHistory.lock
thirskOS_flutter/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
thirskOS_flutter/android/.gradle/buildOutputCleanup/outputFiles.bin
thirskOS_flutter/build/app.dill.track.dill
thirskOS_flutter/build/app.dill.track.dill.incremental.dill
thirskOS_flutter/build/app/intermediates/blame/res/debug/multi-v2/debug.json
thirskOS_flutter/build/app/intermediates/blame/res/debug/multi-v2/values.json
thirskOS_flutter/build/app/intermediates/blame/res/debug/single/debug.json
thirskOS_flutter/build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
thirskOS_flutter/build/app/intermediates/flutter/debug/snapshot_blob.bin.d
thirskOS_flutter/build/app/intermediates/flutter/debug/snapshot_blob.bin.d.fingerprint
thirskOS_flutter/build/app/intermediates/flutter/flutter-x86.jar
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJavaRes/merge-state
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/67BrcI_txQUCLHGDF6vLGbc3Ci0=
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/gVhi6DUum5kms8j5SFDLsA3Z938=
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/HFbS5EkCQOaq7DT8qVYTKgLwn+0=
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/hSw++PzSxMNSWz7CvinQgg5_L7Q=
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/IGMVewFIKhX_KBh4v_oZ343SMHc=
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/qTGqCq59LEAN34aSvlf0dY5Du78=
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJniLibs/merge-state
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJniLibs/zip-cache/67BrcI_txQUCLHGDF6vLGbc3Ci0=
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJniLibs/zip-cache/gVhi6DUum5kms8j5SFDLsA3Z938=
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJniLibs/zip-cache/HFbS5EkCQOaq7DT8qVYTKgLwn+0=
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJniLibs/zip-cache/hSw++PzSxMNSWz7CvinQgg5_L7Q=
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJniLibs/zip-cache/IGMVewFIKhX_KBh4v_oZ343SMHc=
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJniLibs/zip-cache/qTGqCq59LEAN34aSvlf0dY5Du78=
thirskOS_flutter/build/app/intermediates/incremental/mergeDebugAssets/merger.xml
thirskOS_flutter/build/app/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
thirskOS_flutter/build/app/intermediates/incremental/mergeDebugResources/compile-file-map.properties
thirskOS_flutter/build/app/intermediates/incremental/mergeDebugResources/merger.xml
thirskOS_flutter/build/app/intermediates/incremental/mergeDebugShaders/merger.xml
thirskOS_flutter/build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
thirskOS_flutter/build/app/intermediates/incremental/packageDebug/tmp/debug/file-input-save-data.txt
thirskOS_flutter/build/app/intermediates/incremental/packageDebug/tmp/debug/zip-cache/1_4I0TXEONaMfvv7pkVbXxmatAA=
thirskOS_flutter/build/app/intermediates/incremental/packageDebug/tmp/debug/zip-cache/5dlavTIy52honDwbfqO9YV8lK30=
thirskOS_flutter/build/app/intermediates/incremental/packageDebug/tmp/debug/zip-cache/ui9EYbgcBQsxLcCeQ7FdPLNNH40=
thirskOS_flutter/build/app/intermediates/incremental/packageDebug/tmp/debug/zip-cache/Yj7gp5AMVEQ+D70Q+61GnavyT8Q=
thirskOS_flutter/build/app/intermediates/merged_assets/debug/mergeDebugAssets/out/flutter_assets/kernel_blob.bin
thirskOS_flutter/build/app/intermediates/res/merged/debug/drawable_launch_background.xml.flat
thirskOS_flutter/build/app/intermediates/res/merged/debug/mipmap-hdpi_ic_launcher.png.flat
thirskOS_flutter/build/app/intermediates/res/merged/debug/mipmap-mdpi_ic_launcher.png.flat
thirskOS_flutter/build/app/intermediates/res/merged/debug/mipmap-xhdpi_ic_launcher.png.flat
thirskOS_flutter/build/app/intermediates/res/merged/debug/mipmap-xxhdpi_ic_launcher.png.flat
thirskOS_flutter/build/app/intermediates/res/merged/debug/mipmap-xxxhdpi_ic_launcher.png.flat
thirskOS_flutter/build/app/intermediates/res/merged/debug/values_values.arsc.flat
thirskOS_flutter/build/app/intermediates/transforms/dexBuilder/debug/2.jar
thirskOS_flutter/build/app/intermediates/transforms/dexBuilder/debug/3.jar
thirskOS_flutter/build/app/intermediates/transforms/dexBuilder/debug/4.jar
thirskOS_flutter/build/app/intermediates/transforms/dexBuilder/debug/5.jar
thirskOS_flutter/build/app/intermediates/transforms/dexBuilder/debug/6.jar
thirskOS_flutter/build/app/intermediates/transforms/dexBuilder/debug/7.jar
thirskOS_flutter/build/app/intermediates/transforms/dexBuilder/debug/__content__.json
thirskOS_flutter/build/app/intermediates/transforms/mergeJavaRes/debug/0.jar
thirskOS_flutter/build/app/outputs/apk/app.apk
thirskOS_flutter/build/app/outputs/apk/app.apk.sha1
thirskOS_flutter/build/app/outputs/apk/debug/app-debug.apk
thirskOS_flutter/build/app/outputs/logs/manifest-merger-debug-report.txt
thirskOS_flutter/build/path_provider/intermediates/incremental/debug-mergeJavaRes/merge-state
thirskOS_flutter/build/path_provider/intermediates/incremental/debug-mergeJniLibs/merge-state
thirskOS_flutter/build/path_provider/intermediates/incremental/packageDebugAssets/merger.xml
thirskOS_flutter/build/path_provider/intermediates/incremental/packageDebugResources/compile-file-map.properties
thirskOS_flutter/build/path_provider/intermediates/incremental/packageDebugResources/merger.xml
thirskOS_flutter/build/url_launcher/intermediates/incremental/debug-mergeJavaRes/merge-state
thirskOS_flutter/build/url_launcher/intermediates/incremental/debug-mergeJniLibs/merge-state
thirskOS_flutter/build/url_launcher/intermediates/incremental/packageDebugAssets/merger.xml
thirskOS_flutter/build/url_launcher/intermediates/incremental/packageDebugResources/compile-file-map.properties
thirskOS_flutter/build/url_launcher/intermediates/incremental/packageDebugResources/merger.xml
thirskOS_flutter/.idea/workspace.xml
thirskOS_flutter/android/.gradle/4.10.2/fileHashes/fileHashes.bin
thirskOS_flutter/android/.gradle/4.10.2/fileHashes/fileHashes.lock
thirskOS_flutter/android/.gradle/4.10.2/fileHashes/resourceHashesCache.bin
thirskOS_flutter/android/.gradle/4.10.2/javaCompile/jarAnalysis.bin
thirskOS_flutter/android/.gradle/4.10.2/javaCompile/javaCompile.lock
thirskOS_flutter/android/.gradle/4.10.2/javaCompile/taskHistory.bin
thirskOS_flutter/android/.gradle/4.10.2/taskHistory/taskHistory.bin
thirskOS_flutter/android/.gradle/4.10.2/taskHistory/taskHistory.lock
thirskOS_flutter/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
thirskOS_flutter/android/.gradle/buildOutputCleanup/outputFiles.bin
thirskOS_flutter/build/app.dill.track.dill
thirskOS_flutter/build/app.dill.track.dill.incremental.dill
thirskOS_flutter/build/app/intermediates/blame/res/debug/multi-v2/debug.json
thirskOS_flutter/build/app/intermediates/blame/res/debug/multi-v2/values.json
thirskOS_flutter/build/app/intermediates/blame/res/debug/single/debug.json
thirskOS_flutter/build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
thirskOS_flutter/build/app/intermediates/flutter/debug/snapshot_blob.bin.d
thirskOS_flutter/build/app/intermediates/flutter/debug/snapshot_blob.bin.d.fingerprint
thirskOS_flutter/build/app/intermediates/flutter/flutter-x86.jar
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJavaRes/merge-state
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/67BrcI_txQUCLHGDF6vLGbc3Ci0=
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/gVhi6DUum5kms8j5SFDLsA3Z938=
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/hSw++PzSxMNSWz7CvinQgg5_L7Q=
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJniLibs/merge-state
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJniLibs/zip-cache/67BrcI_txQUCLHGDF6vLGbc3Ci0=
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJniLibs/zip-cache/gVhi6DUum5kms8j5SFDLsA3Z938=
thirskOS_flutter/build/app/intermediates/incremental/debug-mergeJniLibs/zip-cache/hSw++PzSxMNSWz7CvinQgg5_L7Q=
thirskOS_flutter/build/app/intermediates/incremental/mergeDebugAssets/merger.xml
thirskOS_flutter/build/app/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
thirskOS_flutter/build/app/intermediates/incremental/mergeDebugResources/compile-file-map.properties
thirskOS_flutter/build/app/intermediates/incremental/mergeDebugResources/merger.xml
thirskOS_flutter/build/app/intermediates/incremental/mergeDebugShaders/merger.xml
thirskOS_flutter/build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
thirskOS_flutter/build/app/intermediates/incremental/packageDebug/tmp/debug/file-input-save-data.txt
thirskOS_flutter/build/app/intermediates/incremental/packageDebug/tmp/debug/zip-cache/5dlavTIy52honDwbfqO9YV8lK30=
thirskOS_flutter/build/app/intermediates/incremental/packageDebug/tmp/debug/zip-cache/ui9EYbgcBQsxLcCeQ7FdPLNNH40=
thirskOS_flutter/build/app/intermediates/merged_assets/debug/mergeDebugAssets/out/flutter_assets/kernel_blob.bin
thirskOS_flutter/build/app/intermediates/res/merged/debug/drawable_launch_background.xml.flat
thirskOS_flutter/build/app/intermediates/res/merged/debug/mipmap-hdpi_ic_launcher.png.flat
thirskOS_flutter/build/app/intermediates/res/merged/debug/mipmap-mdpi_ic_launcher.png.flat
thirskOS_flutter/build/app/intermediates/res/merged/debug/mipmap-xhdpi_ic_launcher.png.flat
thirskOS_flutter/build/app/intermediates/res/merged/debug/mipmap-xxhdpi_ic_launcher.png.flat
thirskOS_flutter/build/app/intermediates/res/merged/debug/mipmap-xxxhdpi_ic_launcher.png.flat
thirskOS_flutter/build/app/intermediates/res/merged/debug/values_values.arsc.flat
thirskOS_flutter/build/app/intermediates/transforms/dexBuilder/debug/2.jar
thirskOS_flutter/build/app/intermediates/transforms/dexBuilder/debug/3.jar
thirskOS_flutter/build/app/intermediates/transforms/dexBuilder/debug/4.jar
thirskOS_flutter/build/app/intermediates/transforms/dexBuilder/debug/5.jar
thirskOS_flutter/build/app/intermediates/transforms/dexBuilder/debug/6.jar
thirskOS_flutter/build/app/intermediates/transforms/dexBuilder/debug/7.jar
thirskOS_flutter/build/app/intermediates/transforms/dexBuilder/debug/__content__.json
thirskOS_flutter/build/app/intermediates/transforms/mergeJavaRes/debug/0.jar
thirskOS_flutter/build/app/outputs/apk/app.apk
thirskOS_flutter/build/app/outputs/apk/app.apk.sha1
thirskOS_flutter/build/app/outputs/apk/debug/app-debug.apk
thirskOS_flutter/build/app/outputs/logs/manifest-merger-debug-report.txt
thirskOS_flutter/build/path_provider/intermediates/incremental/debug-mergeJavaRes/merge-state
thirskOS_flutter/build/path_provider/intermediates/incremental/debug-mergeJniLibs/merge-state
thirskOS_flutter/build/path_provider/intermediates/incremental/packageDebugAssets/merger.xml
thirskOS_flutter/build/path_provider/intermediates/incremental/packageDebugResources/compile-file-map.properties
thirskOS_flutter/build/path_provider/intermediates/incremental/packageDebugResources/merger.xml
thirskOS_flutter/build/url_launcher/intermediates/incremental/debug-mergeJavaRes/merge-state
thirskOS_flutter/build/url_launcher/intermediates/incremental/debug-mergeJniLibs/merge-state
thirskOS_flutter/build/url_launcher/intermediates/incremental/packageDebugAssets/merger.xml
thirskOS_flutter/build/url_launcher/intermediates/incremental/packageDebugResources/compile-file-map.properties
thirskOS_flutter/build/url_launcher/intermediates/incremental/packageDebugResources/merger.xml
